<ion-view title="Profile">
  <ion-nav-buttons side="right">
    <button ng-click="viewUser.updateName()" 
      ng-disabled="!viewUser.name || viewUser.name.length === 0" 
      class="button button-clear button-positive">Done</button>
  </ion-nav-buttons>
 
  <ion-content class="profile">
    <a class="profile-picture positive" ng-click="viewUser.updatePicture()">
      <div ng-if="viewUser.currentUser.profile.picture">
        <img ng-src="{{ viewUser.currentUser.profile.picture }}" alt="profile picture">
        edit
      </div>
      <div ng-if="!viewUser.currentUser.profile.picture" class="upload-placehoder">
        Add photo
      </div>
    </a>
 
    <div class="instructions">
      Enter your name and add an optional profile picture
    </div>
 
    <div class="list profile-name">
      <label class="item item-input">
        <input ng-model="viewUser.name" on-return="viewUser.updateName()" type="text" placeholder="Your name">
      </label>
    </div>
  </ion-content>
</ion-view>